.video-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slide {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-popup {
    /* cursor: pointer; */
}

.video-popup iframe {
    width: 100%;
    height: 100%;
}

.slick-slide img {
    margin: auto;
    border-radius: 22px!important;
    width: 100%;
}

button.slick-arrow {
    margin: 0 30px;
    height: auto;
    z-index: 1;
}

.slick-next.slick-arrow,
.slick-prev.slick-arrow {
    padding: 0.5rem 0.5rem;
    color: transparent;
    /* Делает текст прозрачным */
    font-size: 0;
    /* Устанавливает размер шрифта на 0, скрывая текст */
    border: none;
    border-radius: 50%;
}

.mfp-close {
    right: 0 !important;
    padding-right: 10px !important;
    font-size: 2rem !important;
    top: -50px !important;
    width: 40px !important;
}

.mfp-iframe-scaler iframe {
    margin: 0 5% !important;
    width: 90% !important;
}

/* .slide.video-popup.slick-slide.slick-current.slick-active {
    margin: 0 10px;
} */

.slick-prev:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='green' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3E%3C/svg%3E ");

}

.slick-next:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='green' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E ");

}
.slick-dots li button:before {
    font-size: 8px;
    opacity: .1;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #51B42F;
}
.slick-next.slick-arrow:hover {
 color: #51B42F;
} 
.slick-prev.slick-arrow:hover {
    color: #51B42F;
}

/* .slick-dots {
    bottom: -55px;
} */
.slick-dots li {
    width: 5px;
}
.slick-prev:hover,
.slick-next:hover,
.slick-dots button:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-dots button:focus
{
    background-color: transparent !important;
    outline: none !important;
}